<!DOCTYPE html>
<html>
    <head>
        <title>Admin-Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/admin_style.css?sdb">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <div class="fadeIn first">
                <h1>Change Password</h1>
              </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="fadeIn second" style="color: rgb(211, 56, 56);margin: 0px;">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
              <form action="http://localhost:5001/change_pass_request/" method="POST">
                <input type="password" id="oldpass" class="fadeIn third" name="opwd" placeholder="Old password">
                <input type="password" id="curpass" class="fadeIn fourth" name="pwd" placeholder="New password">
                <input type="password" id="conpass" class="fadeIn fifth" name="cpwd" placeholder="Confirm newpassword">
                <input type="submit" class="fadeIn sixth" value="Submit">
              </form>
          
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>