<!DOCTYPE html>
<html>
<head>
	<title>Manipal University Jaipur Demo</title>
	<!-- for demo webpage--><link rel="stylesheet" type="text/css" href="../static/styles.css">
	<!-- for chatbox--><link rel="stylesheet" type="text/css" href="../static/chatstyle.css?jbhjdfv">
</head>
<body>
    <div id="win"></div>
    <div class="header">
        <div class="header1">
            <p>Sample Chatbot Demostration</p>
        </div>
        <div class="header2">
            <ul>
                <li>Filler Tab 1</li>
                <li>Filler Tab 2</li>
                <li>Filler Tab 3</li>
                <li>Filler Tab 4</li>
            </ul>
        </div>
        <div class="header3">
            <div class='logo'>
                <img src="../static/logo.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
    </div>

    <img src="../static/bot.jpg" alt="Botto" id="chatbot_logo" onclick="show_bot();">
    <div id="chat_link" onclick="show_bot();">
        
    </div>
    <div id="chatbox">
        <div class="chat">
            <div class="head_name">
                <img src="../static/bot.jpg" alt="Botto" id="head_name_logo">
                <h3>Botto</h3>
                <h2 id="minimize" onclick="hide_bot();">-</h2>
                <img src="../static/speak.svg?hxbd" id="volume" alt="" onclick="canspeak();">
                <img src="../static/mute.svg" id="mute" alt="" onclick="dontspeak();">
            </div>
            <div class="chat_logs" id="chat_logs">
                
            </div>
            <div class="enter"><form id="form">
                <input type="text" name="user_msg" id="txt_msg" placeholder="Type here..." autocomplete="off">
                <input type="hidden" name="speech" id="transcript"/>
                <img onclick="startDictation()" src="../static/cHidSVu.gif" id="speak" />
                <button type="submit" id="btn_submit"><img src="../static/send_btn.png" alt=""></button>
            </form></div>
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
  	<script type="text/javascript">
        var flag=false;
        var speak=true;
        var message=false;
        hide_bot();
        document.getElementById('chat_link').style.display="none";
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on( 'connect', function() {
	    	socket.emit( 'my event', {
	    		data: 'User Connected'
	    	} )
	    	var form = $( 'form' ).on( 'submit', function( e ) {
	    		e.preventDefault()
	    		let user_input = ''
	    		user_input=$( 'input#txt_msg' ).val()
	    		socket.emit( 'my event', {
	    		'message' : user_input
	    		} )
	    		$( 'div.chat_logs' ).append( '<div class="line"><div class="user_reply">'+user_input+'</div></div>' )
	    		$( 'input#txt_msg' ).val( '' ).focus()
                var element = document.getElementById("chat_logs");
                element.scrollTop = element.scrollHeight;
                window.speechSynthesis.cancel();
                document.getElementById('chat_link').style.display="none";
	    	} )
        } )
        function gotmsg(msg)
        {
            $( 'div.chat_logs' ).append( '<div class="line"><div class="bot_reply">'+msg.message+'</div></div>' )
            if(speak)
            {
                msg.array.forEach(element => {
                    console.log(element);
                    var speech = new SpeechSynthesisUtterance(element);
	                window.speechSynthesis.speak(speech);
                });
                var id=setInterval(function(){ window.speechSynthesis.pause();window.speechSynthesis.resume(); }, 13000);
            }
            var element = document.getElementById("chat_logs");
            element.scrollTop = element.scrollHeight;
        }
        socket.on( 'my response', function( msg ) {
            if(!flag)
            {
                document.getElementById('chat_link').style.display="block";
                $('#chat_link').html("<div>"+msg.message+"</div>");
                message=msg;
            }
            else
            {
                gotmsg(msg);
            }
        })
	    socket.on('disconnect',function(){
	    	$('div.chat_logs').append('<div class="line"><div class="bot_reply"><b>Server Disconnected</b></div></div>')
	    	document.getElementById('btn_submit').disabled=true
	    })
	    socket.on('quit it',function(){
	    	socket.disconnect()
	    })
        function show_bot()
        {
            document.getElementById('chatbot_logo').style.display="none";
            document.getElementById('chatbox').style.display="block";
            document.getElementById('win').style.display="block";
            if(!flag)
            {
                flag=true;
                if(message)
                gotmsg(message);
                document.getElementById('chat_link').style.display="none";
            }
        }
        function hide_bot()
        {
            document.getElementById('chatbot_logo').style.display="block";
            document.getElementById('chatbox').style.display="none";
            document.getElementById('win').style.display="none";
            window.speechSynthesis.cancel();
        }
        function canspeak()
        {
            speak=true;
            document.getElementById('volume').style.display='none';
            document.getElementById('mute').style.display="block";
        }
        function dontspeak()
        {
            window.speechSynthesis.cancel();
            speak=false;
            document.getElementById('volume').style.display="block";
            document.getElementById('mute').style.display='none';
        }
    </script>
    <script>
        function startDictation() {
          window.speechSynthesis.cancel();
          if (window.hasOwnProperty('webkitSpeechRecognition')) {
            document.getElementById('txt_msg').placeholder="Speak...";
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
      
            recognition.lang = "en-US";
            recognition.start();
      
            recognition.onresult = function(e) {
            document.getElementById('txt_msg').placeholder="Type here...";
              document.getElementById('txt_msg').value=e.results[0][0].transcript;
              document.getElementById('transcript').value = e.results[0][0].transcript;
              recognition.stop();
              console.log(document.getElementById('transcript').value);
              document.getElementById('btn_submit').click();
            };
      
            recognition.onerror = function(e) {
            document.getElementById('txt_msg').placeholder="Type here...";
              recognition.stop();
            }
      
          }
        }
      </script>
</body>
</html>